<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	  	    <add name="daypilot" connectionString="Data Source = 192.168.10.18;database = TrainingDB;user id = TrainingDB_User;password= 'X1;xbhpUN#a5eGHt4ohF'" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <globalization uiCulture="en" culture="en-us"/>
    <pages clientIDMode="AutoID"/>
  </system.web>
</configuration>